*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header
{
    height: 100px;
    background-color: #fff;
  
}

.container
{
    
    margin: auto;
    height: 100%;
    width: 85%;
    padding: 30px 0;
    display: flex;
   

    align-items: center;
    

}


.header .container{
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    border-radius: 20rem;
}

.navbar 
{
 display: flex;
 list-style: none;

 width: 50%;  
 justify-content: space-between;
 margin: 0 20px;
 text-transform: uppercase;

 
  
 
}



.navbar li a {
    text-decoration: none;
    color: #66271F;
    
}



.header .container  img{
    width: 150px;
}



.header ul
{
    color: #66271F;
}

.active
{
    font-weight: bolder;
    
}

.banner
{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-evenly;
    height: 73vh;
   
    
    width: 100%;
    background-image: url(graosBottom.png);
    background-size: cover;
   
   
    display: flex;
    
    
    justify-content: space-around;
}

.banner .message{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 40%;
    opacity: 0.9;
    border-radius: 15px;
    padding: 30px;
  
}

 .banner .message p
{
    margin-bottom: 80px;
    color: #000;
    font-size: 60px;
    font-weight: 400;
  
    
}

.banner .message p span{
    font-weight: 700;
}


.bloco{
    margin-top: 80px;
    height: 40vh;
    width: 95%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.bloco:last-child{
    margin-left: 50px;
}

.bloco div{
    
    width: 50%;
    text-align: center;
    color: #000;
    font-size: 30px;
    font-weight: 300;
  
   
}

.bloco div h3{
    margin-top: 30px;
    color: #66271F;
    margin-bottom: 50px;
  
}

.bloco div p a{
        text-decoration: none;
        color: #66271F;
        font-weight: bold;
}

.purpose
{
    margin-top: 50px;
    height: 450px;
    background-color: transparent;
    
}

.purpose .container .mvv div img
{
    height: 100px;
    width: 100px;
    
} 



.purpose .container .mvv
{

   
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.purpose .container
{
    
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    margin-top: 180px;
}

.purpose .container .mvv div{
    
    margin-bottom: 20px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    text-align: center;

}

.purpose .container h2
{
    
    background-color: #ffff;
    color: #66271F;
    font-weight: bold;
    padding: 25px;
    border-radius: 25px;
}

.purpose .container .mvv div h3
{
    color: #66271F;
    font-weight: bolder;
    margin: 25px 0;
}




.blocoSimulador{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}



#calc {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:#fff;
    margin-right: 30px;
    border-radius: 30px;
    height: 40  vh;
    width: 30vw;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    }


.banner #calc div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.banner #calc div input{
  background-color: #fff;
  
  border-radius: 5px;
  height: 25px;
  padding: 2px;
  border-color: #66271F;
  font-size: 15px;
  font-weight: 600;
  

  
}

.banner .titulo {
    
    font-weight: bolder;
    font-size: 30px;  
    color: #66271F;
}

.banner #calc div h3{
   color: #000;
   font-size: 15px;
   font-weight: 500;
   margin-bottom: 10px;
   
}

.banner .botoes {
    
    display: flex;
    
    align-items: center;
    width: 450px;
    justify-content: space-around;
    margin-bottom: 20px;
 
    
}

.banner .botoes button
{
    background: #66271F;
    color: #fff;
    
    
    margin-left: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    font-weight: 500;
}

.banner .botoes button:hover{
    opacity: 0.9;
    
  
}

.banner  #div_estimativas{
    margin-top: 30px;
    margin-bottom: 100px;
    background-color:#fff;
    margin-right: 30px;
    border-radius: 30px;
    height:40vh;
    width: 30vw;
    
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
   

}




.banner #div_estimativas  h2{
    font-weight: bold;
    font-size: 30px;
    color: #66271F;
    padding: 10px;
    align-items: center;
}

.banner  h1{
    margin-top: 70px;
   margin-bottom: 20px;
   color: #66271F;
   font-weight: bolder;
   margin-bottom: 30px;
   font-size: 40px;
   
}

.tituloCadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #66271F;
    margin-top: 50px;
}

.bannerCadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
   
    background-image: url(graosBottom.png);
    background-size: cover;
    

}





.bannerCadastro .formCadastro{
    
    /* margin-bottom: 200px; */
    padding: 50px;
    border-radius: 30px;
   
    height: 30vh;
    width: 60%;
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    color: #66271F;
    padding: 2px;
   
}

 .dadosCliente{
     height: 90vh;
     padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 15px;
    background: #fff;
}

.dadosFazenda{
    height: 55vh;
    padding: 20px;
   border-style: solid;
   border-color: black;
   border-width: 1px;
   border-radius: 15px;
   background: #fff;
}

.botaoCadastro{
    display: flex;
    align-items: center;
    justify-content: center;
}


.botaoCadastro button{      
    cursor: pointer;
    background-color: #66271F;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    padding: 10px;
    border-radius: 20px;
    height: 60px;
    width: 150px;
}

.botaoCadastro  button:hover{
        opacity: 0.8;
}


 
.banner .formLogin{
    margin-bottom: 7%;
    background: #fff;
    width: 40%;
    height: 100%;
    padding: 2%;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 100%;
    font-weight: 500;
    color: #66271F;
    padding-right: 20%;
    
    
}


.banner .formLogin input{
    height: 20px;
    padding: 10px;
    border-radius: 15px;

}
.banner .formLogin h2{
    margin-left: 50%;
    padding-bottom: 2.7%;
}


.banner .formLogin button{
    
    
    cursor: pointer;
    background-color: #66271F ;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    height: 50px;
    width: 200px; 
    margin-left: 47%;
    
}

.banner .formL{
    margin-bottom: 150px;
    background: #fff;
    width: 40%;
    
    padding-top: 3%;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 100%;
    font-weight: 500;
    color:#66271F;
    
    
}

.banner .formL input{
    height: 20px;
    padding: 10px;
    margin: 2%;
    border-radius: 15px;

}

.banner .formL button{
    margin-top: 10%;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #66271F;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    margin-left: 14%;
    
    
}

.banner .formL h2{
    margin-left: 5%;
}

.banner .formL button:hover{
    opacity: 0.8;
}

.banner .formL .entrar{
    margin-left: 15%;
}

.banner .formLogin .meio .confi{
    font-size: 96%;
}

.banner .formLogin button:hover{
    opacity: 0.8;
}

.banner .formLogin button a{
    text-decoration: none;
    color: #fff;
}


.banner .formLogin p a {
    text-decoration: none;
    font-weight: bolder;
    color: #66271F;

}

.graficosDash{
    height: 100vh;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    
  
    justify-content: space-around;
    
}

.graficosDash .graficos{
 
    
    margin-top: 50px;
    
}

.footer
{
    margin-top: 50px;
    width: 100%;
    background-color: #66271F;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer p
{
    color: #ffff;
    font-weight: 500;
    font-size: 12px;
}

.banner .contato {
    background-color: #fff;
    
    align-items: center;
    margin-top: 30px;
    margin-bottom: 200px;
    background: #fff;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    height: 50%;
    
    padding: 40px;
    
    border-radius: 20px;

    font-weight: 500;
    color:#66271F;
    

}

.banner .contato .titulo h2{
    
    align-items: center;
    display: flex;
    flex-direction: column;
    
    
}

.banner .contato .mensagem{
    height: 50px;
    width: 100%;
    margin-top: 5px;
    
    
}

.banner .contato .msg{
    width: 100%;
    margin-top: 5px;

    
    
}
 
.banner .contato .botao{
    justify-content: center;
    display: flex;
    border-radius: 5px;
    color: #66271F;
    
    
}

.banner .contato .botao:hover{
    opacity: 0.8;
}

.submit{
   
    cursor: pointer;
    background-color: #66271F;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    height: 50px;
    width: 200px; 
    align-items: center;
}

.loading-div {
    width: 50px;
    /* border: 3px solid pink; */
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

.banner .formLogin .total {
    margin: 0px;
    align-items: center;
    border-width: 1px;
    height: 70%;
    width: 100%;
    padding-left: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 15%;
    
    
    
}

.banner .formLogin .total .esquerda{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 9%;
    
}

.banner .formLogin .total .meio{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 7%;
    padding-bottom: 9%;
    
}

.banner .formLogin .total .direita{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 6.1%;
    margin-bottom: 2%;
    padding-bottom:  7%;

}

#form_cadastro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.formSetor {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 6.1%;
    margin-bottom: 2%;
    padding-bottom:  7%;
    height: 35vh;
    width: 35vw;
    border: #000;

}

.formSetor input {
    background-color: #fff;
  
    border-radius: 5px;
    height: 25px;
    padding: 2px;
    border-color: #66271F;
    font-size: 15px;
    font-weight: 600; 
    margin-top: 20px; 
}

.formSetor .botao {
    cursor: pointer;
    background-color: #66271F;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    height: 50px;
    width: 200px; 
    align-items: center;
    margin-top: 30px;
}