*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header
{
    height: 100px;
    background-color: #fff;
    /* border-style: solid;
    border-width: 5px; */
    /* border-color: #e5e5e5; */
    /* border-radius: 10px; */
    /* border-radius: 10rem; */
    /* margin: 100px; */
}

.container
{
    
    margin: auto;
    height: 100%;
    width: 85%;
    padding: 30px 0;
    display: flex;
   

    align-items: center;
    

}


.header .container{
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    border-radius: 20rem;
}

.navbar 
{
 display: flex;
 list-style: none;

 width: 50%;  
 justify-content: space-between;
 margin: 0 20px;
 text-transform: uppercase;

 
  
 
}



.navbar li a {
    text-decoration: none;
    color: #66271F;
    
}



.header .container  img{
    width: 150px;
}



.header ul
{
    color: #66271F;
}

.active
{
    font-weight: bolder;
    
}

.banner
{
    
    height: 100vh;
    background-image: url(graosBottom.png);
    background-size:cover;
    background-position: center;
    display: flex;
    
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.banner .message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
    height: 50%;
    width: 40%;
    opacity: 0.9;
    border-radius: 15px;
    padding: 30px;
  
}

 .banner .message p
{
    margin-right: auto;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    
   
    
    
}



.banner .message a
{
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
    color: #66271F;
    justify-content: space-between;
}

.purpose
{
    margin-top: 20px;
    height: 450px;
    /* background-color: #E5E5E5; */
    
}

.purpose .container .mvv div img
{
    height: 100px;
    width: 100px;
    
} 

.purpose .container .mvv
{

   
    margin-top: 50px;
    width: 100%;
    /* background-color: #E5E5E5; */
    display: flex;
    justify-content: space-between;

}

.purpose .container
{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
}

.purpose .container .mvv div{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    text-align: center;

}

.purpose .container h2
{
    background-color: #ffff;
    color: #66271F;
    font-weight: bold;
    padding: 25px;
    border-radius: 25px;
}

.purpose .container .mvv div h3
{
    color: #66271F;
    font-weight: bolder;
    margin: 25px 0;
}



.banner{

    display: flex;
    flex-direction: column;
    /* height: 100%; */
    align-items: center;
    justify-content: space-evenly;
    height: 45vw;
    
}

.blocoSimulador{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#calc {
    margin-top: 100px;
    margin-bottom: 50px;
    background-color:#e5e5e5;
   
    border-radius: 30px;
    height: 55vh;
    width: 30vw;
    
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.banner #calc div{
    
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.banner #calc div input{
  background-color: #fff;
  
  border-radius: 5px;
  height: 25px;
  padding: 2px;
  border-color: #66271F;
  font-size: 20px;
  font-weight: 600;

  
}

.banner #calc h1{
    
    font-weight: bolder;
    margin-bottom: 50px;
    color: #66271F;
}

.banner #calc div h3{
   color: #66271F;
   font-weight: bolder;
   margin-bottom: 10px;
}

.banner #calc button{
    cursor: pointer;
    background-color: #66271F ;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}

.banner #calc button:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: #66271F ;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.banner #div_estimativas{
    display: flex;
     text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    height: 20%;
    width: 35%;
    margin-bottom: 30px;
    border-radius: 25px;
    justify-content: space-evenly;
   

}



.banner #div_estimativas div h2{
    font-weight: 700;
    color: #66271F;
    padding: 10px;
    align-items: center;
}

.banner .formCadastro{
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 25px;
    border-radius: 30px;
    background-color: #e5e5e5;
    height: 400px;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: row;
    
   
    justify-content: space-between;
    
}

 .banner  h1{
     margin-top: 30px;
    margin-bottom: 20px;
    color: #66271F;
    font-weight: bolder;
    margin-bottom: 30px;
    
}

.banner .formCadastro div{
    color: #66271F;
    padding: 2px;
}


.banner .formCadastro .p1 {
    background: #66271F;
   height: 100%;
   width: 40%;
   border-radius: 5px;
   padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    align-items: center;
}

.banner .formCadastro .p1 div h3{
    color: #fff;
    font-weight: bolder;
}

.banner .formCadastro .p1 div input{
    height: 20px;
    border-radius: 5px;
    background: #fff;
    padding: auto;
 }


.banner .formCadastro .p2 {
    background: #66271F;
   height: 100%;
   width: 40%;
   border-radius: 5px;
   padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.banner .formCadastro .p2 div h3{
    color: #fff;
    font-weight: bolder;
}

.banner .formCadastro .p2 div input{
    height: 20px;
    border-radius: 5px;
    background: #fff;
    padding: auto;
 }

.banner .formCadastro button{
  
    
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #66271F;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    padding: 10px;
    border-radius: 20px;
    height: 50px;
    width: 100px;
   
    
 }

.banner .formCadastro button:hover{
        opacity: 0.8;
}
 
.banner .formLogin{

    background: #e5e5e5;
    height: 50%;
    width: 20%;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #66271F;
    font-weight: 500;
    color: black;
}

.banner .formLogin input{
    height: 30px;
    font-size: 100;
    padding: auto;
    border-radius: 5px;
    color: #0000;
  

}


.banner .formLogin button{
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #66271F ;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    height: 50px;
    width: 200px; 
}

.banner .formLogin button:hover{
    opacity: 0.8;
}

.banner .formLogin p {
    text-decoration: none;
    color: #111;


}
.banner .formLogin p a {
    text-decoration: none;
    font-weight: bolder;
    color: #66271F;

}

.footer
{
    margin-top: 20px;
    background-color: #66271F;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer p
{
    color: #ffff;
    font-weight: 500;
}

