*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header
{
    height: 100px;
    background-color: #fff;
  
}

.container
{
    
    margin: auto;
    height: 100%;
    width: 85%;
    padding: 30px 0;
    display: flex;
   

    align-items: center;
    

}


.header .container{
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    border-radius: 20rem;
}

.navbar 
{
 display: flex;
 list-style: none;

 width: 50%;  
 justify-content: space-between;
 margin: 0 20px;
 text-transform: uppercase;

 
  
 
}



.navbar li a {
    text-decoration: none;
    color: #66271F;
    
}



.header .container  img{
    width: 150px;
}



.header ul
{
    color: #66271F;
}

.active
{
    font-weight: bolder;
    
}

.banner
{
    margin-top: 100px;
    height: 100vh;
    width: 100vw;
    background-image: url(graosBottom.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.banner .message{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
    height: 50%;
    width: 40%;
    opacity: 0.9;
    border-radius: 15px;
    padding: 30px;
  
}

 .banner .message p
{
    margin-right: auto;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    
   
    
    
}



.banner .message a
{
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
    color: #66271F;
    justify-content: space-between;
}

.purpose
{
    margin-top: 20px;
    height: 450px;
    /* background-color: #E5E5E5; */
    
}

.purpose .container .mvv div img
{
    height: 100px;
    width: 100px;
    
} 

.purpose .container .mvv
{

   
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.purpose .container
{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
}

.purpose .container .mvv div{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    text-align: center;

}

.purpose .container h2
{
    background-color: #ffff;
    color: #66271F;
    font-weight: bold;
    padding: 25px;
    border-radius: 25px;
}

.purpose .container .mvv div h3
{
    color: #66271F;
    font-weight: bolder;
    margin: 25px 0;
}



.banner{

    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
   
    
}

.blocoSimulador{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#calc {
    margin-top: 30px;
    margin-bottom: 50px;
    background-color:#e5e5e5;
   
    border-radius: 30px;
    height: 55vh;
    width: 30vw;
    
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.banner #calc div{
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.banner #calc div input{
  background-color: #fff;
  
  border-radius: 5px;
  height: 25px;
  padding: 2px;
  border-color: #66271F;
  font-size: 15px;
  font-weight: 600;
  

  
}

.banner  h2{
    
    font-weight: bolder;
    font-size: 40px;  
    color: #66271F;
}

.banner #calc div h3{
   color: #66271F;
   font-weight: bolder;
   margin-bottom: 10px;
}

.banner .botoes {
    
    display: flex;
    
    align-items: center;
    width: 450px;
    justify-content: space-around;
    


    
    
}

.banner .botoes button
{
    background: rgb(22, 4, 4);
    color: #fff;
    
    margin-bottom: 20px;
    margin-left: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    
   
    font-size: 15px;
    font-weight: 500;
}

.banner .botoes button:hover{
    opacity: 0.9;
    
  
}

.banner  #div_estimativas{
    display: flex;
     text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    height: 30vh;
    width: 28vw;
    margin-bottom: 30px;
    border-radius: 25px;
    justify-content: space-evenly;
    padding: 20px;
   

}




.banner #div_estimativas  h2{
    font-weight: bolder;
    font-size: 40px;
    color: #66271F;
    padding: 10px;
    align-items: center;
}

.banner  h1{
    margin-top: 80px;
   margin-bottom: 20px;
   color: #66271F;
   font-weight: bolder;
   margin-bottom: 30px;
   font-size: 40px;

   
}

.banner .formCadastro{
    margin-top: 21%;
    margin-bottom: 500px;
    padding: 50px 50px;
    border-radius: 30px;
    background-color: #e5e5e5;
    height: 90vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
    
   
   
    
}

.banner .formCadastro .dados{
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
}


    



 





.banner .formCadastro button{
  
    
    
    cursor: pointer;
    background-color: #66271F;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    padding: 10px;
    border-radius: 20px;
    height: 50px;
    width: 100px;
   
    
 }

.banner .formCadastro button:hover{
        opacity: 0.8;
}
 
.banner .formLogin{

    margin-top: 30px;
    background: #e5e5e5;
    height: 50%;
    width: 28%;
    padding: 40px;
    
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    font-weight: 500;
    color:#66271F;
}

.banner .formLogin input{
    height: 30px;
    font-size: 100;
    padding: 10px;
    border-radius: 15px;
    
   
  

}

.banner .formLogin button{
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #66271F ;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    height: 50px;
    width: 200px; 
}


#submit{
    
    margin-bottom: 45px;
    cursor: pointer;
    background-color: #66271F;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    height: 50px;
    width: 200px; 
    align-items: center;
    
}

.banner .formLogin button:hover{
    opacity: 0.8;
}


.banner .formLogin p a {
    text-decoration: none;
    font-weight: bolder;
    color: #66271F;

}

.footer
{
    margin-top: 50px;
    background-color: #66271F;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer p
{
    color: #ffff;
    font-weight: 500;
    font-size: 12px;
}

.banner .formCadastro .valido {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
}




